@font-face {
    font-family: 'THKodchasal';
    src: url('th_kodchasal_bold_italic-webfont.eot');
    src: url('th_kodchasal_bold_italic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('th_kodchasal_bold_italic-webfont.woff') format('woff'),
         url('th_kodchasal_bold_italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THKodchasal';
    src: url('th_kodchasal_bold-webfont.eot');
    src: url('th_kodchasal_bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('th_kodchasal_bold-webfont.woff') format('woff'),
         url('th_kodchasal_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'THKodchasal';
    src: url('th_kodchasal_italic-webfont.eot');
    src: url('th_kodchasal_italic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('th_kodchasal_italic-webfont.woff') format('woff'),
         url('th_kodchasal_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THKodchasal';
    src: url('th_kodchasal-webfont.eot');
    src: url('th_kodchasal-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('th_kodchasal-webfont.woff') format('woff'),
         url('th_kodchasal-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.th_kodchasal{
   font-family: 'THKodchasal', sans-serif;
}